@charset "UTF-8";

* {
    padding: 0rem;
    margin: 0rem;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(93, 93, 241);
    color: rgb(216, 226, 244);
    height: 3rem;
}

header > h1 {
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
}

header > nav > span {
    margin-right: 1rem;
    cursor: pointer;
    font-size: 1.1rem;
}

header > nav > span:hover {
    text-decoration: underline;
}

main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 3rem 1rem;
}

main > section > div.imagem-sobre-a-loja {
    background-image: url('archives/imagem-sobre-a-loja.jpeg');
    width: 80%;
    max-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

main > section > h1 {
    text-align: center;
    color: rgb(134, 154, 234);
}

main > section > hr {
    width: 80%;
    margin: auto;
    background-color: rgb(134, 154, 234);
}

main > section > section.images-produtos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} 

main > section > section.images-produtos > div.divs-imgs {
    margin: 1rem;
}

main > section > section.images-produtos > div.divs-imgs > div > h1 {
    margin: 1rem;
}

main > section > section.images-produtos > div.divs-imgs > div > p {
    margin: 1rem;
}

main > section > section.images-produtos > div.divs-imgs > div > button {
    margin: .5rem 1rem 1rem 1rem;
    padding: .3rem;
    background-color: rgb(161, 248, 248);
    color: rgb(54, 54, 240);
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}

.imgs {
    background-size: cover;
    margin: auto;
    width: 275px;
    height: 275px;

}

main > section > section.images-produtos > div.divs-imgs > .img-tenis1 {
    background-image: url('archives/tenis1.jpeg');
}

main > section > section.images-produtos > div.divs-imgs > .img-tenis2 {
    background-image: url('archives/tenis2.jpeg')
}

main > section > section.images-produtos > div.divs-imgs > .img-tenis3 {
    background-image: url('archives/tenis3.jpeg');
}

main > section > section.images-produtos > div.divs-imgs > .img-tenis4 {
    background-image: url('archives/tenis4.jpeg');
}


/* Break Points - Media Query */

@media screen and (max-width: 300px){
    header > h1 {
        font-size: 1.3rem;
        margin-left: 1rem;
    }

    header > nav > span {
        font-size: .8rem;
    }
}

@media screen and (max-width: 640px){

    header {
        height: 4rem;
    }

    header > nav > span{
        font-size: 1.3rem
    }

    main > section > section.images-produtos {
        justify-content: center;
        align-items: center;
    } 

    main > section > div {
        width: 250px;
        height: 250px;
    }

    main > section > h1 {
        text-align: center;
        margin: .5rem;
        font-size: 2.2rem;
    }

    main > section > p {
        text-align: justify;
        margin: .4rem;
        font-size: 1.6rem;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.6rem;
    }

    button {
        height: 4rem;
        width: 10rem;
        font-size: 1.3rem;
    }

    }

@media screen and (min-width: 641px) and (max-width: 1024px){
    header {
        height: 4rem;
    }
    
    header > h1 {
        font-size: 2.3rem;
    }
    
    header > nav > span {
        font-size: 1.6rem;
    }
   
    main > section > .imagem-sobre-a-loja {
        width: 700px;
        height: 700px;
    }

    h1 {
        font-size: 2.5rem;
        margin: 1rem;
    }

    hr {
        margin: 1rem;
    }

    p {
        font-size: 1.8rem;
        margin: 1rem;
    }

    button {
        width: 15rem;
        margin: .5rem;
        height: 3rem;
        font-size: 1.5rem;
    }

    .imgs {
        width: 290px;
        height: 290px;
        background-position: center center;
    }

    main > section > section.images-produtos {
        display: grid;
        grid-template-columns: 370px 370px;
        grid-template-rows: 500px 500px;
        margin: 1rem;
    }

    main > section > section.images-produtos > div.info {
        width: 400px;
        height: 400px;
        margin: 1rem;
    }

    main > section > section.images-produtos > .divs-imgs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1025px){
    main > section > .imagem-sobre-a-loja {
        width: 700px;
        height: 700px;
    }

    main > section > section.images-produtos {
        flex-direction: row;
    }

    p, hr, h1 {
        margin: .5rem;
    }

    .divs-imgs {
        width: 200px;
        height: 200px;
    }

    .imgs {
        width: 200px;
        height: 200px;
    }
}